html, body {
height: 100%;
margin: 0;
background-image: url('../../slike/pijaca.jpg');
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
overflow: hidden;
}
#glavni{
height: 100%;
width: 100%;
display: grid;
}
#glavni > h1{
  text-align: center;
  color: #963543;
}
#logout{
  position: absolute;
  right: 6px;
  top: 3px;
  color: red;
}




#plati_sada{
  width: 100%;
  font-size: 120%;
}
#tabela_prikaza_vremena_placanja{
  width: 95%;
  height: 95%;
  visibility: hidden;
  background-color: black;
  opacity: 0.9;
  /* border-radius: 8px; */
  /* padding: 50px 10px 50px 10px; */
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#ime_tezge_i_dugme_izlaz_tabela_placanje{
height: 10%;
width: 100%;
background-color: red;
display: flex;               /* i ovo je obavezno */
justify-content: left;   /* horizontalno centar */
align-items: center;       /* vertikalno centar */
padding-left: 10px;
}
#tabela_vremena_placanja{
height: 80%;
width: 100%;
background-color: green;
overflow-y: auto;
}

#dugme_plati_sada{
height: 10%;
width: 100%;
background-color: blue;
position: fixed;
}
#plati_sada{
  height: 100%;
  position: absolute;
  bottom: 0px;
}
#zatvori_tabelu_prikaz_placanja{
  position: absolute;
  right: 6px;
  top: 3px;
  color: black;
}
/* proba */


#forma_jedan_select_sa_tezgama{
  overflow: auto;
  visibility: hidden;
  background-color: black;
  opacity: 0.9;
  border-radius: 8px;
  border: 4px solid  green;
  padding: 50px 10px 50px 10px;
}
#zatvori_select_za_prikaz_tezgi_bez_levo_desno{
position: absolute;
right: 8px;
top: 5px;
color: red;
}
#forma_sa_odabirom_strane_levo_desno_prikaza_tezgi{
  visibility: hidden;
  background-color: black;
  opacity: 0.9;
  border-radius: 8px;
  border: 4px solid  green;
  padding: 70px 15px 70px 15px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: grid;
  grid-template-areas:
  "tezge_levo . tezge_desno";
  min-width: 60%;
}
#tezge_levo{
grid-area: tezge_levo;
margin-right: 10px;
border-radius: 8px;
}
#tezge_desno{
grid-area: tezge_desno;
margin-left: 10px;
border-radius: 8px;
}
#zatvori_select_za_prikaz_tezgi_sa_levo_desno{
position: absolute;
right: 8px;
top: 5px;
color: red;
}
#prikazi_levu_stranu {
    margin-right: 10px;
}
#prikazi_desnu_stranu {
    margin-left: 10px;
}
#zatvori_tabelu_klijenata_levo{
position: absolute;
right: 8px;
top: 5px;
color: red;
}
#zatvori_tabelu_klijenata_desno{
position: absolute;
right: 8px;
top: 5px;
color: red;
}
#samo_tezge_za_direktni_odabir_sektora{
  border-radius: 8px;
}
#ispis_koji_je_red{
  position: absolute;
  left: 8px;
  top: 5px;
  color: white;
  font-size: 20px;
}
#ispis_koji_je_red_i_strana_levo{
  position: absolute;
  left: 8px;
  top: 5px;
  color: white;
  font-size: 20px;
}
#ispis_da_je_strana_levo{
  position: absolute;
  left: 90px;
  top: 5px;
  color: white;
  font-size: 20px;
}
#ispis_koji_je_red_i_strana_desno{
  position: absolute;
  left: 8px;
  top: 5px;
  color: white;
  font-size: 20px;
}
#ispis_da_je_strana_desno{
  position: absolute;
  left: 90px;
  top: 5px;
  color: white;
  font-size: 20px;
}
#ispis_koji_je_sektor{
  position: absolute;
  left: 8px;
  top: 5px;
  color: white;
  font-size: 20px;
  z-index: 1;
}
/* proba */



#prva_forma{
background-color: black;
opacity: 0.9;
border-radius: 8px;
border: 4px solid  green;
padding: 70px 40px 70px 40px;
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%,-50%);
display: grid;
grid-template-areas:
"dodaj_novi_sektor"
"dodaj"
"izaberi"
;
}
#dodaj_novi_sektor{
grid-area: dodaj_novi_sektor;
margin-bottom: 30px;
border-radius: 8px;
}
#dodaj_novog{
grid-area: dodaj;
margin-bottom: 30px;
border-radius: 8px;
}
#izaberi_postojeceg{
grid-area: izaberi;
border-radius: 8px;
}


#forma_dodaj_novog{
visibility: hidden;
border: 4px solid  green;
border-radius: 8px;
background-color: black;
opacity: 0.9;
padding: 70px 40px 70px 40px;
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%,-50%);
display: grid;
grid-template-areas:
"naslov_forme_unos_klijenata"
"label_odabir_u_koji_sektor_se_unosi"
"odabir_u_koji_sektor_se_unosi"
"label_odabir_da_li_sektor_ima_stranice_ili_ne"
"odabir_da_li_sektor_ima_stranice_ili_ne"
"broj_tezge_unos_klijenata"
"broj_tezge"
"ime_klijenta_unos_klijenata"
"ime_klijenta"
"broj_telefona_unos_klijenata"
"broj_telefona"
"sacuvaj";
}
#naslov_forme_unos_klijenata{
  grid-area: naslov_forme_unos_klijenata;
  color: white;
  text-align: center;
}

#label_odabir_u_koji_sektor_se_unosi{
  grid-area:label_odabir_u_koji_sektor_se_unosi;
  color: white;
}
#odabir_u_koji_sektor_se_unosi{
  grid-area:odabir_u_koji_sektor_se_unosi;
}
#label_odabir_da_li_sektor_ima_stranice_ili_ne{
  grid-area:label_odabir_da_li_sektor_ima_stranice_ili_ne;
  color: white;
}
#odabir_da_li_sektor_ima_stranice_ili_ne{
  grid-area:odabir_da_li_sektor_ima_stranice_ili_ne;
}




#broj_tezge_unos_klijenata{
  grid-area:broj_tezge_unos_klijenata;
  color: white;
}
#broj_tezge{
grid-area: broj_tezge;
margin-bottom: 20px;
}
#ime_klijenta_unos_klijenata{
  grid-area:ime_klijenta_unos_klijenata;
  color: white;
}
#ime_klijenta{
grid-area: ime_klijenta;
margin-bottom: 20px;
}
#broj_telefona_unos_klijenata{
  grid-area:broj_telefona_unos_klijenata;
  color: white;
}
#broj_telefona{
grid-area: broj_telefona;
margin-bottom: 40px;
}
#sacuvaj{
grid-area: sacuvaj;
}
#zatvori_dodavanje_formu{
position: absolute;
right: 8px;
top: 5px;
color: red;
}


#forma_dodaj_nov_sektor{
visibility: hidden;
border: 4px solid  green;
border-radius: 8px;
background-color: black;
opacity: 0.9;
padding: 70px 40px 70px 40px;
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%,-50%);
display: grid;
grid-template-areas:
"naslov_forme_dodavanje_sektora"
"label_input_novi_sektor"
"novi_sektor"
"odabir_sektor_sa_stranama_ili_bez"
"sacuvaj_novi_sektor"
;
}
#naslov_forme_dodavanje_sektora{
  grid-area: naslov_forme_dodavanje_sektora;
  color: white;
  text-align: center;
}
#label_input_novi_sektor{
  grid-area:label_input_novi_sektor;
  color: white;
}
#novi_sektor{
grid-area: novi_sektor;
margin-bottom: 20px;
}
#odabir_sektor_sa_stranama_ili_bez{
grid-area: odabir_sektor_sa_stranama_ili_bez;
margin-bottom: 20px;
}
#sacuvaj_novi_sektor{
grid-area: sacuvaj_novi_sektor;
margin-bottom: 20px;
}
#zatvori_dodavanje_sektora{
  position: absolute;
  right: 8px;
  top: 5px;
  color: red;
}






/* prikaz tezgi */
#div_prikaz_klijenta{  /* ovaj div izmeniti na telefonu i kompu  */
  visibility: hidden;
  /* border: 2px solid  black; */
  background-color: blue;
  opacity: 0.7;
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#prikaz_broj_tezge{
  grid-area: prikaz_broj_tezge;
  /* background-color: red; */
  color: white;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#sam_prikaz_br_tezge{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#prikaz_ime_klijenta{
  grid-area: prikaz_ime_klijenta;
  /* background-color: blue; */
  color: white;
  font-size: 30px;
  text-align: center;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
#sam_prikaz_ime_klijenta{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#prikaz_broj_telefona{
  grid-area: prikaz_broj_telefona;
  /* background-color: yellow; */
  color: white;
  font-size: 20px;
  position: relative;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
#sam_prikaz_br_telefona{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#prikaz_do_kad_je_placeno{
  grid-area: prikaz_do_kad_je_placeno;
  /* background-color: green; */
  color: white;
  text-align: center;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
#sam_prikaz_do_kad_je_placeno{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
}
#prikaz_plati{
  grid-area: prikaz_plati;
  /* background-color: purple; */
  text-align: center;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 8;
}
#dugme_plati{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}
#podesavanje_slicica{
  position: absolute;
  right: 45px;
  top: 10px;
  width: 23px;
  height: 23px;
}
#tabela_klijenti_direktno {
  width: 100%;
  border-collapse:collapse;
  border-spacing: 22px 10;
  color: white;
}
#tabela_klijenti_direktno > thead > tr > th {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}
#body_tabele1 > tr > td {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}


/* LEVO */
#div_tabela_klijenti_levo{
  overflow: auto;
  padding: 50px 15px 15px 15px;
  background-color: black;
  border: 3px solid green;
  opacity: 0.9;
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
#tabela_klijenti_levo{
  width: 100%;
  border-collapse:collapse;
  border-spacing: 22px 10;
  color: white;
}
#tabela_klijenti_levo > thead > tr > th {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}
#body_tabele_levo > tr > td {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}
/* LEVO */

/* DESNO */
#div_tabela_klijenti_desno{
  overflow: auto;
  padding: 50px 15px 15px 15px;
  background-color: black;
  border: 3px solid green;
  opacity: 0.9;
  display: none;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
#tabela_klijenti_desno{
  width: 100%;
  border-collapse:collapse;
  border-spacing: 22px 10;
  color: white;
}
#tabela_klijenti_desno > thead > tr > th {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}

#body_tabele_desno > tr > td {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
  /* box-sizing:inherit; */
}

/* DESNO */


#tabela_vremena_placanja_i_cifra{
  width: 100%;
  color: white;
}
#tabela_vremena_placanja_i_cifra > thead > tr > th {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}
#tabela_body_istorija_placanja > tr > td {
  border: 1px solid white;
  padding: 7px;
  text-align: center;
}
#slika_podesavanje{
  position: absolute;
  top: 8px;
  right: 35px;
  width: 22px;
  height: 22px;
}

#datum_za_izabrati{
  position: absolute;
  top: 34px;
  right: 10px;
  height: 22px;
}
#podesavanje_za_brisanje_sektora_i_preimenovanje{
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
}
#podesavanje_za_brisanje_sektora_i_preimenovanje_redova{
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
}

#zatvori_div_izmena_sektora{
  position: absolute;
  right: 8px;
  top: 5px;
  color: red;
}
#div_izmene_sektora{
  visibility: hidden;
  border: 4px solid  green;
  border-radius: 8px;
  background-color: black;
  opacity: 0.9;
  padding: 70px 40px 70px 40px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-areas:
  "naslov_forme_izmeni_sektor"
  "novo_ime_sektora_label"
  "novo_ime_sektora"
  "label_odabir_sa_stranama_ili_bez"
  "odabir_strana_ili_direktno"
  "sacuvaj_izmena_sektora"
  ;
}
#naslov_forme_izmeni_sektor{
  grid-area: naslov_forme_izmeni_sektor;
  margin-bottom: 20px;
  color: white;
}
#novo_ime_sektora_label{
  grid-area: novo_ime_sektora_label;
  margin-bottom: 20px;
  color: white;
}
#novo_ime_sektora{
  grid-area: novo_ime_sektora;
  margin-bottom: 20px;
}
#label_odabir_sa_stranama_ili_bez{
  grid-area: label_odabir_sa_stranama_ili_bez;
  margin-bottom: 20px;
  color: white;
}
#odabir_strana_ili_direktno{
  grid-area: odabir_strana_ili_direktno;
  margin-bottom: 20px;
}
#sacuvaj_izmena_sektora{
  grid-area: sacuvaj_izmena_sektora;
}
#wait{
  display: block;
  position: fixed;
  top: 40%;
  left: 47%;
  z-index: 1;
}

#div_izmene_tezge{
  visibility: hidden;
  border: 4px solid  green;
  border-radius: 8px;
  background-color: black;
  opacity: 0.9;
  padding: 70px 40px 70px 40px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-areas:
  "naslov_forme_izmeni_tezgu"
  "novo_ime_tezge_label"
  "novo_ime_tezge"
  "novi_br_telefona_tezge_label"
  "novi_br_telefona_tezge"
  "sacuvaj_izmena_tezge"
  "obrisi_odredjenu_tezgu"
  ;
}
#naslov_forme_izmeni_tezgu{
  grid-area: naslov_forme_izmeni_tezgu;
  margin-bottom: 20px;
  color: white;
}
#novo_ime_tezge_label{
  grid-area: novo_ime_tezge_label;
  margin-bottom: 20px;
  color: white;
}
#novo_ime_tezge{
  grid-area: novo_ime_tezge;
  margin-bottom: 20px;
}
#novi_br_telefona_tezge_label{
  grid-area: novi_br_telefona_tezge_label;
  margin-bottom: 20px;
  color: white;
}
#novi_br_telefona_tezge{
  grid-area: novi_br_telefona_tezge;
  margin-bottom: 20px;
}
#sacuvaj_izmena_tezge{
    grid-area: sacuvaj_izmena_tezge;
    margin-bottom: 20px;
}
#obrisi_odredjenu_tezgu{
    grid-area: obrisi_odredjenu_tezgu;
}
#zatvori_div_izmena_tezge{
  position: absolute;
  right: 8px;
  top: 5px;
  color: red;
}
